<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Rebonjour</title>
    <link rel="icon" href="/assets/images/favicon.png">
    <link rel="stylesheet" href="/assets/css/styles.css">
</head>

<body>
    <h1>Goodbye {{ name }} !</h1>
    
    <ul>
    {% for product in products %}
        {{ product }}
        <br>
        {% if loop.index == 3 %}
        {% endif %}
    {% endfor %}
</ul>
   
    
{{ dump(products) }}
</body>
</html>